<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- Bootstrap -->
  <!--
    application.css is where you put your styles
  -->

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed  -->
  <script src="js/bootstrap.min.js"></script>

  <title></title>
</head>
<body >
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <ul class="nav navbar-nav navbar-collapse collapse">
      <li><a href="#" class="navbar-brand">Quesarito Burrito Guacamole Burger</a></li>
    <% if current_user %>
    <li ><a href="/user/<%= current_user.id %>"><%= current_user.username %></a></li>
    <li ><a href="/logout">log out
      </a></li>
    <li><a href="/">home</a></li>

    <% else %>
    <li ><a href="/login">login</a></li>
    <li><a href="/register">register</a></li>
    <li><a href="/">home</a></li>
    <% end %>
  </ul></nav>
  <div class="container" style="padding-top:70px;">
  <%= yield %></div>
</body>
</html>
