
  <h1>login</h1>
<% if current_user %>
  You are already logged in.
  <a class="btn btn-primary" href="/user/<%= current_user.id  %>" type="button">Your home page</a>
  <% else %>
  <p>Returning user? Login below:</p>
    <% if @error_login %>
    <ul>
      <li><%= @error_login %></li>
    </ul>
    <% end %>

  <form action="/login" method="post">
    <label for="username">username: </label>
    <br>
    <input type="text" name="username" placeholder ="" />
    <br>

    <label for="password">password: </label>
    <br>
    <input type="password" name="password" placeholder ="" />
    <br><br>

    <input class="btn btn-primary" type="submit" value="Login">
  </form>
<% end %>

