<div class="container">
  <h1>login</h1>
<% if current_user %>
  <h1>hooplah</h1>
  <form action="/logout" method="get">
    <input type="submit" value="logout">
  </form>
  <% else %>
  <p>Returning user? Login below:</p>
    <% if @error_login %>
    <ul>
      <li><%= @error_login %></li>
    </ul>
    <% end %>

  <form action="/login" method="post">
    <label for="username">username: </label>
    <br>
    <input type="text" name="username" placeholder ="gimme your username" />
    <br>

    <label for="password">password: </label>
    <br>
    <input type="password" name="password" placeholder ="and your password" />
    <br>

    <input type="submit" value="Login">
  </form>
<% end %>
</div>
