<h1>register</h1>
<form action="/register" method="post">

    <% if @errors %>
    <% @errors.each do |err| %>
    <ul>
        <li>
            <%= err %>
        </li>
    </ul>
    <% end %>
    <% end %>
    <label for="username">username: </label>
    <br>
    <input type="text" name="username" placeholder ="" />
    <br>

    <label for="password">password: </label>
    <br>
    <input type="password" name="password" placeholder ="" />
    <br>

    <label for="email">email: </label>
    <br>
    <input type="text" name="email" placeholder ="" />
    <br><br>

    <input class="btn btn-primary" type="submit" value="Register">

</form>

